{% extends "account/__l_base.html" %}
{% load i18n %}
{% block title %}{% trans "Dashboard" %} - {{ block.super }}{% endblock %}
{% block content %}
<div class="row">
    <div role="main" class="col-sm-8 pr-4">
        <div class="card pr-0 pl-0 pt-0 pb-0">
            <h5 class="card-header">{% trans "Hello" %}, {{ request.user.profile.get_first_name }}</h5>
            <div class="card-body ml-4 mr-4 mt-4 mb-3 pt-0 pl-0 pr-0 pb-0">
            <p>{% trans "This is the dashboard, which loads after a successful login." %}</p>
            <ul>
                <li>{% trans "Edit this page at" %}<i>templates/account/dashboard.html</i></li>
                <li>{% trans "Edit the sidebar at" %} <i>templates/account/_sidebar.html</i></li>
                <li>{% trans "Edit the base template at" %} <i>templates/account/__l_base.html</i></li>
            </ul>
            </div>
        </div>
    </div>
    <div role="sidebar" class="col-sm-4 pl-4">
        {% include 'account/_sidebar.html' %}
    </div>
</div>
{% endblock content %}