{% extends "account/__l_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Change your password - {{ block.super }}{% endblock %}
{% block content %}
<div class="row">
    <div role="main" class="col-sm-8 pr-4">
    <div class="card pr-0 pl-0">
        <h5 class="card-header">Change your password</h5>
        <div class="card-body ml-5 mr-5 mt-4 mb-2">
            <form action="." method="POST">
                {{ form|crispy }}
                {% csrf_token %}
                <p><input type="submit" value="Continue"></p>
            </form>
        </div>
    </div>
    </div>
    <div role="sidebar" class="col-sm-4 pl-4">
        {% include 'account/_sidebar.html' %}
    </div>
</div>
{% endblock content %}
