{% extends "account/__l_base.html" %}
{% load crispy_forms_tags %}
{% load account_tags %}
{% load i18n %}
{% block title %}{% trans "Password reset" %} - {{ block.super }}{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="card col-sm-8 pr-0 pl-0">
        <h5 class="card-header">{% trans "Reset your password" %}</h5>
        <div class="card-body ml-5 mr-5 mt-4 mb-2">
            <p>{% trans "Enter your email address below to reset your password." %}</p>
            <br />
            <form action="." method="POST">
                {{ form|crispy }}
                {% recaptcha_field %}
                {% csrf_token %}
                <p><input type="submit" value="{% trans 'Continue' %}"></p>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
