{% extends "account/__l_base.html" %}
{% load i18n %}
{% block title %}{% trans "Reset your password" %} - {{ block.super }}{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="card col-sm-8 pr-0 pl-0">
        <h5 class="card-header">{% trans "Reset your password" %}</h5>
        <div class="card-body ml-5 mr-5 mt-4 mb-2">
            <p>
                {% trans "ReCAPTCHA failed. Are you human? If so, please" %} 
                <a href="{% url 'account:password_reset' %}">{% trans "try again" %}.</a>
        </div>
    </div>
</div>
{% endblock %}
